@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face
{
    font-family: "Inter";
    src: url("../fonts/Inter/InterVariable.ttf");
}

@layer base
{
    html
    {
        font-family: "Inter";
        color: theme("colors.slate.700")
    }
}

tr *:not(td)
{
    pointer-events: none;
}